{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {{ product.product_desc|truncatewords:155 }}
{% endblock %}
{% block title %}
    {% if category %}
        {{ product.product_name }} - DC ONLINE SHOPPING
    {% endif%}
{% endblock %}

{% block content %}
    <div class="row my_product_row_class">
        <div class="mx_auto">
            <p><a href="{% url 'ecommerce_app:allProductCat' %}">Home</a> |
                <a href="{{product.product_category.get_url}}">{{product.product_category}}</a> | {{product.product_name}}</p>
        </div>
    </div>
    <div class="container">
       <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <div style="min-width : 18 rem;">
                    <img src="{{product.product_img.url}}" alt="{{product.product_name}}" style="width:100%; height:50%;">
                </div>
            </div>
            <div class = "col-12 col-sm-12 col-md-12 col-lg-6">
                <h1 class="my_product_title">{{product.product_name}}</h1>
                <p>${{product.product_price}}</p>
                <p class="my_title">Product Description</p>
                <p class="text-justify my_product_text">{{product.product_desc}}</p>
                {% if product.product_stock <= 0 %}
                <p class="text-justify my_product_text"><b>Out of stock</b></p>
                {% else %}
                <a class="btn btn-secondary" href="{% url 'ecommerce_cart:add_cart' product.id %}">Add to Cart</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}